<div class="footer">
  <h2>Safezone</h2>
  <p>
    Every time a technological advance occurs then a new copyright challenge arises for the owner of a piece of work. History will tell us that a copyright infringement lawsuit cases occur almost every time a new invention or technological change is introduced.
The internet, for example, has proven to be quite revolutionary. It has changed permanently how users distribute and copy content regardless of where they are located, geographically speaking.<br> This makes it even more necessary to have more comprehensive copyright statutes to protect authored works.
  </p>
  <h3>Copyright © 2019-2020 Safezone.</h3>
</div>