<ng-container>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <u>About Us</u>
          <ul>
            <li><a routerLink="/about">About Us</a></li>
            <li><a>Blog</a></li>
            <li><a>Videos</a></li>
            <li><a>Reviews</a></li>
            <li><a>Posters</a></li>
          </ul>
        </div>
        <div class="col-sm">
          <u>Stay connected</u>
          <ul>
            <li ><a href="https://www.facebook.com">Facebook</a></li>
            <li><a href="https://www.twitter.com">Twitter</a></li>
            <li><a href="https://www.linkedin.com">Linkedin</a></li>
          </ul>
        </div>
        <div class="col-sm">
          <u>Contact</u>
          <ul>
            <li><a>Contact Us</a></li>
            <li><a>FAQ</a></li>
            <li><a>Terms of Use</a></li>
            <li><a>Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
    <p>Copyright © 2020 Safezone - All Rights Reserved</p>
  </div>
</ng-container>