<ng-container>
  <div class="topsection">
    <nav class="navbar navbar-fixed-top navbar-dark">
      <div class="container" class="topnav-right">
        <a routerLink="/home">Home</a>
        <a routerLink="/about">About</a>
        <a *ngIf="primeMember" routerLink="/gallery">Gallery</a>
        <button *ngIf="primeMember" type="button" (click)="Logout()">Logout</button>
        <a *ngIf="!primeMember" type="text" routerLink="/login">Login</a>
      </div>
    </nav>
  </div>
  <h1>About Page</h1>
</ng-container>