<div *ngIf="!hideLoginForm">
  <h1>Login</h1>
  <hr>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="form-group">
      <b>User ID</b><input class="inputbox" type="text" placeholder="User ID" formControlName="userid" [ngClass]="{'is-invalid':f.userid.errors}" required />
      <div *ngIf="submitted && f.userid.errors" class="errorTxt regular">
        userid is invalid
      </div>
    </div>
    <div class="form-group">
      <b>Password</b>
      <input class="inputbox" type="password" placeholder="Password" formControlName="password"
        [ngClass]="{'is-invalid':submitted && f.password.errors}" required />
      <div *ngIf="submitted && f.password.errors" class="errorTxt regular">
        Password is invalid
      </div>
    </div>
    <b class="LoginError" *ngIf="LoginError">Incorrect Credentials, Try Again.</b>
    <div class="form-group">
      <button class="btn regular" >Submit</button>
     <b><a class="cancelLink" routerLink="/home">Go to Homepage</a></b>
    </div>
  </form>
</div>