<ng-container *ngIf="!hideLoginForm">
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <h2>Login</h2>
    <div class="form-group">
      <label for="userid" class="lbl regular">User ID: </label>
      <input class="inputbox" type="text" formControlName="userid" [ngClass]="{'is-invalid':f.userid.errors}" required />
      <div *ngIf="submitted && f.userid.errors" class="errorTxt regular">
        userid is invalid
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="lbl regular">Password: </label>
      <input class="inputbox" type="password" formControlName="password"
        [ngClass]="{'is-invalid':submitted && f.password.errors}" required />
      <div *ngIf="submitted && f.password.errors" class="errorTxt regular">
        Password is invalid
      </div>
    </div>
    <div class="form-group">
      <button class="btn regular">Submit</button>
    </div>
  </form>
</ng-container>