<ng-container>
  <nav class="topnav">
    <a routerLink="/home">Home</a>
    <a routerLink="/about">About</a>
    <a class="active" routerLink="/gallery">Gallery</a>
    <button type="button" (click)="Logout()">Logout</button>
    <b *ngIf="loggedUser">Logged User: {{loggedUser}}</b>
  </nav>
  <h1>Dear {{loggedUser}}, Welcome to Gallery</h1>
  <marquee *ngIf="loggedUser" class="prime">Congratulations!!! Now you have a Premium Gallery access</marquee>
  <hr>
  <img src="https://wallpapercave.com/wp/wp2208679.jpg">
  <img src="https://wallpapercave.com/wp/wp3276765.jpg">
  <img src="https://wallpapercave.com/wp/wp3276769.jpg">
  <img src="https://wallpapercave.com/wp/wp3276771.jpg">
  <img src="https://wallpapercave.com/wp/wp3276776.jpg">
  <img src="https://wallpapercave.com/wp/wp3276788.jpg">
  <img src="https://wallpapercave.com/wp/wp3276785.jpg">
  <img src="https://wallpapercave.com/wp/wp3114906.png">
  <img src="https://wallpapercave.com/wp/wp2382721.jpg">
  <img src="https://wallpapercave.com/wp/wp2474966.jpg">
  <img src="https://wallpapercave.com/wp/wp3276834.jpg">
  <img src="https://wallpapercave.com/wp/wp3276857.jpg">
  <img src="https://wallpapercave.com/wp/wp3276868.jpg">
  <img src="https://wallpapercave.com/wp/wp3276875.jpg">
  <img src="https://wallpapercave.com/wp/wp3276874.jpg">
  <img src="https://wallpapercave.com/wp/wp3276880.jpg">
  <img src="https://wallpapercave.com/wp/wp3276885.png">
  <img src="https://wallpapercave.com/wp/wp3276889.jpg">
  <img src="https://wallpapercave.com/wp/wp3276879.jpg">
  <img src="https://wallpapercave.com/wp/wp3276881.jpg">
  <img src="https://wallpapercave.com/wp/wp3276849.png">
  <img src="https://wallpapercave.com/wp/wp2208690.jpg">
  <img src="https://wallpapercave.com/wp/wp2462512.jpg">
  <img src="https://wallpapercave.com/wp/wp3114946.jpg">
</ng-container>